
body{
font-family:Arial;
background:#eef2f9;
text-align:center;
}

.container{
max-width:420px;
margin:auto;
padding:20px;
}

button{
padding:12px;
margin:5px;
border:none;
border-radius:10px;
background:#2b67f6;
color:white;
font-weight:bold;
}

.saldo-box{
background:white;
padding:15px;
border-radius:12px;
margin-bottom:15px;
}

.btn-row button{
background:#27ae60;
}
